[project]
	description = An XSS Prevention rules filter on java Servlet Request
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/adi06
[access "refs/for/refs/*"]
	read = group user/adi06
	push = group user/adi06
	label-Code-Review = -2..+2 group user/adi06
	label-Verified = -1..+1 group user/adi06
	rebase = group user/adi06
	removeReviewer = group user/adi06
	submit = group user/adi06
[access "refs/heads/*"]
	read = group user/adi06
	create = group user/adi06
	push = +force group user/adi06
	pushMerge = group user/adi06
[access "refs/tags/*"]
	push = +force group user/adi06
	pushTag = group user/adi06
	pushSignedTag = group user/adi06
